numpy<2.0.0
PyMuPDF
Pillow
opencv-python-headless
sentence-transformers
transformers
huggingface-hub
faiss-cpu==1.7.4
gradio>=4.36.0
rank-bm25
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-openai
openai
paddleocr>=2.7.0
